<ul class="post-comments p-0 m-0">
    <li class="mb-2">
        <div class="d-flex flex-wrap">
            <div class="user-img">
                <img src="<%= image_url('user/02.jpg') %>" alt="userimg" class="avatar-35 rounded-circle img-fluid">
            </div>
            <div class="comment-data-block ml-3">
                <h6>Anonymous</h6>
                <p class="mb-0">Ngon lành cành đào</p>
                <div class="d-flex flex-wrap align-items-center comment-activity">
                    <a href="javascript:void();"><%= t('titles.like') %></a>
                    <a href="javascript:void();"><%= t('titles.reply') %></a>
                    <span> 5 min </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="d-flex flex-wrap">
            <div class="user-img">
                <img src="<%= image_url('user/03.jpg') %>" alt="userimg" class="avatar-35 rounded-circle img-fluid">
            </div>
            <div class="comment-data-block ml-3">
                <h6>Sếp</h6>
                <p class="mb-0">Oke tăng 100%</p>
                <div class="d-flex flex-wrap align-items-center comment-activity">
                    <a href="javascript:void();"><%= t('titles.like') %></a>
                    <a href="javascript:void();"><%= t('titles.reply') %></a>
                    <span> 2 min </span>
                </div>
            </div>
        </div>
    </li>
</ul>
<form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
    <input type="text" class="form-control rounded">
    <div class="comment-attagement d-flex">
        <a href="javascript:void();"><i class="fas fa-camera mr-3"></i></a>
        <a href="javascript:void();"><i class="fas fa-comment-dots mr-3"></i></a>
    </div>
</form>
