<li class="iq-unread">
    <div class="d-flex align-self-center">
        <div class="iq-email-sender-info">
            <div class="user-img img-fluid"><img src="<%= image_url('user/1.jpg') %>" alt="story-img" class="rounded-circle avatar-40"></div>
            <a href="<%= detail_path %>" class="iq-email-title">Hello world</a>
        </div>
        <div class="iq-email-content">
            <a href="<%= detail_path %>" class="iq-email-subject">
                What's your name?
            </a>
            <div class="iq-email-date">2 seconds</div>
        </div>
    </div>
</li>
<li class="iq-unread">
    <a class="d-flex align-self-center">
        <div class="iq-email-sender-info">
            <div class="user-img img-fluid"><img src="<%= image_url('user/1.jpg') %>" alt="story-img" class="rounded-circle avatar-40"></div>
            <a href="<%= detail_path %>" class="iq-email-title">Anonymous</a>
        </div>
        <div class="iq-email-content">
            <a href="<%= detail_path %>" class="iq-email-subject">
                How can we hack ex's account?
            </a>
            <div class="iq-email-date">16 hours ago</div>
        </div>
    </div>
</li>
