<li class="iq-unread" id="questionst-<%= question.id %>">
    <div class="d-flex align-self-center">
        <div class="iq-email-sender-info">
            <div class="user-img img-fluid">
                <img class="rounded-circle avatar-40" src="<%= question.private_token.present? ? image_url('user/anonymous.jpg') : image_url('user/01.jpg') %>" alt="">
            </div>
            <% if question.private_token.present? %>
                <%= link_to t('title.anonymous'), question, class: "iq-email-title" %>
            <% else %>
                <%= link_to question.user.name, question, class: "iq-email-title" %>
            <% end %>
        </div>
        <div class="iq-email-content">
            <%= link_to question.content, question, class: "iq-email-subject" %>
            <div class="iq-email-date"><%= time_ago_in_words(question.created_at) %>&nbsp;<%= t('messages.ago') %></div>
        </div>
        <% if (current_user.super_admin? || current_user.manager?) && question.waiting? %>
            <ul class="iq-social-media">
                <li data-toggle="tooltip" data-placement="bottom" title="<%= t('messages.approve_question') %>">
                    <%= link_to approve_question_path(question.id), method: :put do %>
                        <i class="fas fa-check"></i>
                    <% end %>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="<%= t('messages.close_question') %>">
                    <%= link_to close_question_path(question.id), method: :put do %>
                        <i class="fas fa-times-circle"></i>
                    <% end %>
                </li>
            </ul>
        <% end %>
    </div>
</li>
