<% provide(:title, t('titles.feeds')) %>
<div class="row">
    <div class="col-sm-12">
        <div id="post-modal-data" class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h4 class="card-title"><%= t('titles.create_question') %></h4>
                </div>
            </div>
            <div class="iq-card-body" data-toggle="modal" data-target="#post-modal">
                <div class="d-flex align-items-center">
                    <div class="user-img">
                        <img src="<%= image_url('user/1.jpg') %>" alt="userimg" class="avatar-60 rounded-circle">
                    </div>
                    <form class="post-text ml-3 w-100" action="javascript:void();">
                        <input type="text" class="form-control rounded" placeholder="What is your question?" style="border:none;">
                    </form>
                </div>
                <hr>
                <ul class="post-opt-block d-flex align-items-center list-inline m-0 p-0">
                    <li class="iq-bg-primary rounded p-2 pointer mr-3"><a href="#"></a><img src="<%= image_url('small/07.png') %>" alt="icon" class="img-fluid"> <%= t('titles.photo') %></li>
                    <li class="iq-bg-primary rounded p-2 pointer mr-3"><a href="#"></a><img src="<%= image_url('small/13.png') %>" alt="icon" class="img-fluid"> <%= t('titles.topic') %></li>
                </ul>
            </div>
            <%= render 'question_modal' %>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="iq-card">
            <div class="iq-card-body p-0">
                <div class="iq-email-listbox">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel">
                            <ul class="iq-email-sender-list">
                                <%= render 'question_item' %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% parent_layout "layouts/base_layout" %>
