<% provide(:title, t('titles.feeds')) %>
<div class="row">
    <div class="col-sm-12">
        <%= render 'shared/error_messages', object: @question %>
        <%= render 'shared/flash_message' %>
        <div id="post-modal-data" class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h4 class="card-title"><%= t('titles.create_question') %></h4>
                </div>
            </div>
            <div class="iq-card-body" data-toggle="modal" data-target="#post-modal">
                <div class="d-flex align-items-center">
                    <div class="user-img">
                        <img src="<%= image_url('user/1.jpg') %>" alt="userimg" class="avatar-60 rounded-circle">
                    </div>
                    <form class="post-text ml-3 w-100" action="javascript:void();">
                        <input type="text" class="form-control rounded" placeholder="What is your question?" style="border:none;">
                    </form>
                </div>
            </div>
            <%= render 'question_modal' %>
        </div>
    </div>
    <div class="col-sm-12">
        <% if @questions.any? %>
            <div class="iq-card">
                <div class="iq-card-body p-0">
                    <div class="iq-email-listbox">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel">
                                <ul class="iq-email-sender-list">
                                    <%= render @questions %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<% parent_layout "layouts/base_layout" %>
