<div class="tab-pane fade show active" id="question-pending" role="tabpanel">
    <ul class="iq-email-sender-list">
        <% if @questions.waiting.any? %>
            <%= render @questions.waiting %>
        <% else %>
            <li><%= t('messages.no_question', status: t('status.pending')) %></li>
        <% end %>
    </ul>
</div>
<div class="tab-pane fade show" id="question-approved" role="tabpanel">
    <ul class="iq-email-sender-list">
        <% if @questions.approved.any? %>
            <%= render @questions.approved %>
        <% else %>
            <li><%= t('messages.no_question', status: t('status.approved')) %></li>
        <% end %>
    </ul>
</div>
<div class="tab-pane fade show" id="question-closed" role="tabpanel">
    <ul class="iq-email-sender-list">
        <% if @questions.closed.any? %>
            <%= render @questions.closed %>
        <% else %>
            <li><%= t('messages.no_question', status: t('status.closed')) %></li>
        <% end %>
    </ul>
</div>