<div class="iq-card">
  <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
          <h4 class="card-title"><%= t('titles.change_password') %></h4>
      </div>
  </div>
  <div class="iq-card-body">
        <%= form_for(:user, url: renew_password_path) do |f| %>
            <%= render 'shared/error_messages', object: current_user %>
            <%= render 'shared/flash_message' %>
            <div class="form-group">
                <label for="cpass"><%= t('form.current_psw') %>:</label>
                <%= link_to t('form.forgot_password'), recover_password_path, class: 'float-right' %>
                <%= password_field_tag :old_password, {}, :required => true, class: 'form-control', placeholder: t('form.current_psw') %>
            </div>
            <div class="form-group">
                <label for="npass"><%= t('form.new_psw') %>:</label>
                <%= f.password_field :password, :required => true, class: 'form-control', placeholder: t('form.new_psw') %>
            </div>
            <div class="form-group">
                <label for="vpass"><%= t('form.verify_psw') %>:</label>
                <%= f.password_field :password_confirmation, :required => true, class: 'form-control', placeholder: t('form.confirm_password') %>
            </div>
            <%= f.submit t('button.submit'), class: "btn btn-primary mr-2" %>
        <% end %>
  </div>
</div>
