<% provide(:title, t('titles.edit_profile')) %>
<div class="row">
    <div class="col-lg-12">
        <div class="iq-card">
            <div class="iq-card-body p-0">
                <div class="iq-edit-list">
                    <ul class="iq-edit-profile d-flex align-items-center justify-content-center nav nav-pills">
                        <li class="col-md-3 p-0">
                            <a class="nav-link <%= "active" if @change_psw_flag.nil? %>" data-toggle="pill" href="#personal-information">
                            <%= t('titles.personal_info') %>
                            </a>
                        </li>
                        <li class="col-md-3 p-0">
                            <a class="nav-link <%= "active" if @change_psw_flag %>" data-toggle="pill" href="#chang-pwd">
                            <%= t('titles.change_password') %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="iq-edit-list-data">
            <div class="tab-content">
                <div class="tab-pane fade <%= "active show" if @change_psw_flag.nil? %>" id="personal-information" role="tabpanel">
                    <%= render 'basic_info_form' %>
                </div>
                <div class="tab-pane fade <%= "active show" if @change_psw_flag %>" id="chang-pwd" role="tabpanel">
                    <%= render 'change_password' %>
                </div>
            </div>
        </div>
    </div>
</div>
<% parent_layout "layouts/base_layout" %>
<script type="text/javascript">
    $('#edit-icon').on('click', function() {
        $('#avt-input').click();
    });
</script>
