<div class="comment-area mt-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="like-block position-relative d-flex align-items-center">
            <div class="d-flex align-items-center">
                <div class="like-data">
                    <div class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                    </div>
                </div>
                <div class="total-like-block ml-2 mr-3">
                    <div class="dropdown">
                        <span role="button">120</span>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="like-data">
                    <div class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                    </div>
                </div>
                <div class="total-like-block ml-2 mr-3">
                    <div class="dropdown">
                        <span role="button">40</span>
                    </div>
                </div>
            </div>
            <div class="total-comment-block">
                <div class="dropdown">
                    <span role="button">2 <%= t('titles.comment') %></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <ul class="post-comments p-0 m-0">
        <li class="mb-2">
            <div class="d-flex flex-wrap">
                <div class="user-img">
                    <img src="<%= image_url('user/02.jpg') %>" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                </div>
                <div class="comment-data-block ml-3">
                    <h6>Anonymous</h6>
                    <p class="mb-0">Ngon lành cành đào</p>
                    <div class="d-flex flex-wrap align-items-center comment-activity">
                        <a href="javascript:void();"><%= t('titles.like') %></a>
                        <a href="javascript:void();"><%= t('titles.reply') %></a>
                        <span> 5 min </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="d-flex flex-wrap">
                <div class="user-img">
                    <img src="<%= image_url('user/03.jpg') %>" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                </div>
                <div class="comment-data-block ml-3">
                    <h6>Sếp</h6>
                    <p class="mb-0">Oke tăng 100%</p>
                    <div class="d-flex flex-wrap align-items-center comment-activity">
                        <a href="javascript:void();"><%= t('titles.like') %></a>
                        <a href="javascript:void();"><%= t('titles.reply') %></a>
                        <span> 2 min </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
        <input type="text" class="form-control rounded">
        <div class="comment-attagement d-flex">
            <a href="javascript:void();"><i class="fas fa-camera mr-3"></i></a>
            <a href="javascript:void();"><i class="fas fa-comment-dots mr-3"></i></a>
        </div>
    </form>
</div>
