<tr>
  <%= form_for(category) do |f| %>
    <td width="25%">
      <%= f.text_field :name, :required => true, class: "form-control rounded" %>
    </td>
    <td width="55%">
      <%= f.text_field :description, class: "form-control rounded" %>
    </td>
    <td width="20%">
      <span class="table-remove">
        <%= f.submit t('button.save'), class: "btn btn-warning rounded btn-custom" %>
      </span>
      <span class="table-remove">
        <%= button_to t('button.delete'), category, :class => "btn btn-danger rounded btn-custom", :method => :delete %>
      </span>
    </td>
  <% end %>
</tr>
