<!DOCTYPE html>
<html>
	<head>
		<title>Q&A System | <%= yield(:title) %></title>
		<%= render 'layouts/default' %>
		<%= render 'layouts/shim' %>
		<%= yield(:stylesheets) %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
